@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-secondary min-h-screen;
    background-image: url('/notebook_paper.png');
    background-repeat: repeat;
    background-size: cover;
  }
}

@layer components {
  .card {
    @apply bg-white rounded-lg shadow-md p-4;
  }
  
  .button-primary {
    @apply px-4 py-2 bg-primary text-white rounded-md hover:bg-orange-600;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
